<template>
    <div class="modal" v-if="open" :key="open">
        <button class="modal__button" @click="closeModal()">[X]</button>
        <iframe loading="lazy" scrolling="no" seamless class="modal__frame" :src="url" :key="url" :style="iframeStyles"/>
    </div>
</template>

<style scoped lang="scss">
    .modal {
        width: 100vw;
        height: 100vh;
        background-color: #ffffff;
        position: fixed;
        top: 0;
        &__frame {
            overflow: hidden;
            display: block;
            border: none;
            margin: 0 auto;
        }
        &__button {
            position: relative;
            float: right;
            border: none;
            color: white;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            padding: 1em;
            background-color: #FF00FF;
        }
       
    }
</style>

<script>
export default {
    data() {
        return {
            open: false,
            id: '',
            originalWidth: 0,
            originalHeight: 0,
        }
    },
    computed: {
        url() {
            return `https://picsum.photos/id/${this.id}/${this.width}/${this.height}`
        },
        ratio() {
            const { width, height } = this.$windowResizeMonitor.getDimensions()
            return Math.min(width / this.originalWidth, height / this.originalHeight);
        },
        width() {
            return Math.floor(this.originalWidth * this.ratio)
        },
        height() {
            return Math.floor(this.originalHeight * this.ratio)
        },
        iframeStyles() {
            return {
                width: `${this.width}px`,
                height: `${this.height}px`
            }
        }
    },
    methods: {
        openModal(id, width, heigth) {
            this.id = id
            this.open = true
            this.originalWidth = width
            this.originalHeight = heigth
        },
        closeModal() {
            console.log('close')
            this.open = false
        }
    },
    mounted() {
        this.$eventBus.$on('OPEN_MODAL', this.openModal)
    },

}
</script>