<template>
<div class="image-list__wrapper" :key="currentPage">
  <div class="image-list__title">Currently displaying page {{currentPage}}</div>
    <div class="image-list__container" :key="itemsPerPage">
    <ImageCard v-for="(card,idx) in  images" 
              :key="idx"  
              :bg="card.download_url" 
              :author="card.author" 
              :img-id="card.id"
              :original-width="card.width"
              :original-height="card.height"
              />
  </div>
</div>
</template>

<style scoped lang="scss">
    .image-list {
      &__wrapper {
        width: 90vw;
        height: 100vh;
        margin: 0 auto;
      }
      &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
      }
    }

</style>

<script>
import ImageCard from  './ImageCard'

export default {
  name: 'ImageList',
  components: {
    ImageCard,
  },
  methods: {
    handleImagesLoaded(images, currentPage, itemsPerPage) {
      this.images = images
      this.currentPage = currentPage
      this.itemsPerPage = itemsPerPage
    }
  },
  data () {
    return {
      images: [],
      currentPage: 1,
      itemsPerPage: 10
    }
  },
  mounted () {
    this.$eventBus.$on('IMAGES_LOADED',this.handleImagesLoaded)
    this.$observer.init(this.$el)
  }
}
</script>