<template>
  <div class="image__card" @click="imgClick()" :style="cardStyles">
    <h4 class="image__card-id">{{imgId}}</h4>
    <h2 class="image__card-name">{{author}}</h2>
  </div>
</template>

<style scoped lang="scss">
    .image__card {
      // flex: 1 1 320px;
      // padding-top: 50%;
      position: relative;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      outline: 1px solid #e3e3e3; 
      margin: 10px 0;
      width: 256px;
      height: 144px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        &-id {
          position: absolute;
          margin: 4px;
          color: #FF00FF;
          background-color: #ffffff;
        }
        &-name {
          display: inline-block;
          height: 1em;
          font-size: 1em;
          text-overflow: ellipsis;
          position: absolute;
          padding: .2em;
          color: #FF00FF;
          background-color: #ffffff;
          bottom: 0;
          right: 0;
          }
        @media screen and (max-width: 480px){
          align-self: center;
        }
        @media screen and (min-width: 640px) {
          width: 384px;
          height: 216px;
      }
    }
</style>

<script>
export default {
  name: 'ImageCard',
  methods: {
    setImage() {
      this.picture = this.bg
      this.$observer.remove(this.$el)
    },
    imgClick() {
      this.$eventBus.$emit('OPEN_MODAL', this.imgId, this.originalWidth, this.originalHeight)
    }
  },
  mounted() {
      this.$observer.add(this.$el, this.setImage)
  },
  data () {
      return {
          picture: ''
      }
  },
  computed: {
      cardStyles () {
        return {
          'background-image': `url(${this.picture})`
        }
      }
  },
  props: {
      bg: {
        type: String,
        required: true
      },
      imgId: {
        type: String,
        required: true
      },
      author: {
        type: String,
        required: true
      },
      originalWidth: {
        type: Number,
        required: true
      },
      originalHeight: {
        type: Number,
        required: true
      }
  }
}
</script>