<template>
  <div class="pagination">
    <div class="pagination__wrapper">
      <button class="pagination__button" v-if="hasPrev" @click="btnClick('prev')">Prev</button>
      <select class="pagination__select" v-model="selected" @change="handleItemsSelect">
        <!-- <option disabled value="">Please select one</option> -->
        <option v-for="option in options" :value="option.value" :key="option.value">
          {{ option.text }}
        </option>
      </select>
      <button class="pagination__button" v-if="hasNext" @click="btnClick('next')">Next</button>
    </div>
  </div>
</template>

<style scoped lang="scss">
   .pagination {
     width: 100%;
     display: flex;
     justify-content: space-around;
     &__button {
      border: none;
      color: white;
      padding: 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      background-color: #FF00FF;
     }
     &__select {
      appearance: none;
      background-color: transparent;
      border: none;
      margin: 0;
      width: 40%;
      height: 56px;
      font-size: 16px;
      text-align-last: center;
      outline: 1px solid #e3e3e3;
      margin: 0 4px;
     }
   }
</style>

<script>
export default {
  name: 'Pagination',
  data () {
    return {
      selected: 10,
      options: [
        { text: 'Ten items displayed', value: 10 },
        { text: 'Thirty items displayed', value: 30 },
        { text: 'One Hundred items displayed', value: 100 }
      ],
      currentPage: 1,
      hasNext: true,
      hasPrev: false
    }
  },
  methods: {
    loadImages() {
      this.$api.getList({page: this.currentPage, limit: this.selected})
    },
    btnClick(type) {
        this.currentPage = type === 'prev' ? --this.currentPage : ++this.currentPage
        this.loadImages()
    },
    handleItemsSelect(event) {
        this.selected = event.target.value
        this.loadImages()
    }
  },
  mounted() {
    this.loadImages()
    this.$eventBus.$on('PAGINATION_NEXT', (bool) => this.hasNext = bool)
    this.$eventBus.$on('PAGINATION_PREV', (bool) => this.hasPrev = bool)
  },
}
</script>