<template>
  <div id="app">
    <Pagination />
    <ImageList />
    <AppModal />
  </div>
</template>

<script>
import ImageList from './components/ImageList.vue'
import Pagination from './components/Pagination.vue'
import AppModal from './components/AppModal.vue'
 
export default {
  name: 'App',
  components: {
    ImageList,
    Pagination,
    AppModal
  },
  mounted() {
    this.$windowResizeMonitor.init()
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Roboto');
#app {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  overflow-x: hidden;
}
</style>
